body {
  font-family: Nunito;
  margin: 0px;
  background: #1e1e1e;
  color: #dcdcdc;
  background-image: url("../arquivos/decoraçao.svg");
  background-size: 866px 845px;
  background-position: bottom right;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  font-family: Fira Sans;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}